<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCcyt8boEh1Azn2_lnmo3DpyGYmlfp1Z7w</string>
	<key>GCM_SENDER_ID</key>
	<string>1025646156849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.brainPulse.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>brainpulse-56c91</string>
	<key>STORAGE_BUCKET</key>
	<string>brainpulse-56c91.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1025646156849:ios:93fa1c77e3222179cf0910</string>
</dict>
</plist>